body {
    background: rgb(237, 245, 205);
    font-family: 'Courier New', Courier, monospace; 
}
.page {
    background: rgb(237,245,205);
    padding: 10px;
}
.title {
    background: rgb(161,192,143);
    padding: 10px;  
    margin: 10px;
    text-align: right; 
}
.about {
    background: rgb(161,192,143);
    padding: 10px;  
    margin: 10px;
    height: 500px;
}
.image {
    background: rgb(161,192,143);
    padding: 10px;  
    margin: 10px;
    float: left; 
    display: inline;
}

.projects {
    background: rgb(161,192,143);
    padding: 10px;  
    margin: 10px;
    text-align: center;
}
#navigation li{
    display: inline;
    text-align: center;
}
